<!-- Carousel -->
<div class="center">
  <img *ngIf="load" src="./assets/img/loader.svg" width="64" height="64" />
</div>

<div class="suelo">


  <!--Carousel Wrapper-->
  <div
    id="carousel-example-2"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li
        data-target="#carousel-example-2"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div
        *ngFor="let carouselItem of carouselList; let i = index"
        class="carousel-item {{ i === 0 ? 'active' : '' }}"
      >
        <div>
          <img
            class="d-block w-100"
            [src]="carouselItem.bannerImg"
            alt="First slide"
          />
          <div class="mask rgba-black-light"></div>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a
      class="carousel-control-prev"
      href="#carousel-example-2"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel-example-2"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper

  <div class="blog-container">
    <div class="back-blue cursor">

        <h4 class="aling font-size">Increíbles pastillas para generar el mejor frenado en tu bicicleta</h4>
        <div class="aling">
          <a class="color-blue margin-top" href="/blog/Increíbles-pastillas-de-frenos-para-generar-el-mejor-frenado-en-tu-bicicleta" >Más información</a>
        </div>
        <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/ecommerce-bd610.appspot.com/o/blogs%2Fimageedit_1_8611498498.png?alt=media&token=6350e721-3810-4e22-bf55-d9926fc43eb4" alt="Card image cap">

    </div>
    <div class="back-blue cursor">

      <h4 class="aling font-size">¿Como debo cambiar las pastillas de freno YAK?</h4>
      <div class="aling">
        <a class="color-blue margin-top" href="/blog/como-debo-cambiar-las-pastillas-de-freno-yak" >Más información</a>
      </div>
      <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/ecommerce-bd610.appspot.com/o/blogs%2Fevolution.jpg?alt=media&token=5a1b031c-3b69-412e-95ee-b813dd117894" alt="Card image cap">

    </div>
  </div>-->

  <div class="container">

  <br />
  <app-best-product></app-best-product>

  <div class="row margin-bot">
    <div class="col-md-12">
      <blockquote class="blockquote float-left bq-primary color-best-border">
        <h3 class="color-best">
          Tiendas aliadas
        </h3>
      </blockquote>

    </div>
    <div *ngIf="!loadStores">
      <app-card-loader [loop]="4" [height]="500"></app-card-loader>
    </div>
    <carousel
    *ngIf="loadStores"
    [images]="images"
    [autoplay]="true"
    [autoplayInterval]="3000"
    [margin]="50"
    ></carousel>
  </div>

</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Muchas gracias por su compra!
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Pronto nos comunicaremos contigo
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
  </div>