<br />
<div class="container suelo">
  <div class="row" *ngIf="authService.isAdmin$ | async">
    <div class="col-sm">
      <div class="float-right">
        <button
          type="button"
          class="btn btn-primary waves-light"
          data-toggle="modal"
          data-target="#exampleModalLong"
          (click)="openCreate()"
        >
          Agregar Producto
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <!--

          <div class="col-md-3">
      <div class="form-group">
        <label for="brand_select">Categorias:</label>
        <select
          class="form-control"
          name=""
          id="brand_select"
          [(ngModel)]="selectedBrand"
        >
          <option *ngFor="let brand of brands" [ngValue]="brand">{{
            brand
          }}</option>
        </select>
      </div>
    </div>
    -->

    <div class="col-md-12">
      <div class="container">
        <app-card-loader
          [loop]="4"
          [height]="800"
          *ngIf="loading"
        ></app-card-loader>
        <div class="row" *ngIf="!loading">
          <!-- List of Products -->
          <div
            class="col-sm-3 mb-2"
            *ngFor="
              let product of productList
                | filterByBrand: selectedBrand
                | paginate: { itemsPerPage: 20, currentPage: page }
            "
          >
            <div
              class="item"
              *ngIf="product.enable || (authService.isAdmin$ | async)"
            >
              <div class="mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                  <!--Card image-->
                  <a [routerLink]="['/products/product', product.$key]">
                    <img
                      [src]="product.images[0]"
                      class="img-fluid"
                      alt=""
                      width="360px"
                      height="640px"
                    />
                    <img *ngIf="(productService.getValueCurrency() === 1 && !product.enable_ve) || productService.getValueCurrency() !== 1 && !product.enable_co" src="./assets/banner_img/agotado.jpg" class="imagen ng-star-inserted">
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5>{{ product.productCategory }}</h5>
                    </a>
                    <p class="card-title">
                      <strong>
                        <a
                          class="color-best"
                          [routerLink]="['/products/product', product.$key]"
                          routerLinkActive="router-link-active"
                          >{{ product.productName }}</a
                        >
                      </strong>
                    </p>
                    <!--Description-->
                    <p
                      class="card-text"
                      [innerHTML]="product.productDescription"
                    ></p>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left"
                        >$
                        {{
                          product.productPrice *
                            productService.getValueCurrency() | number
                        }}</span
                      >
                      <span class="right">
                        <a
                          placement="top"
                          mdbTooltip="Add to Wishlist"
                          container="body"
                          (click)="addFavourite(product)"
                        >
                          <i class="fa fa-heart"></i>
                        </a>
                        <a
                        *ngIf="((productService.getValueCurrency() === 1 && product.enable_ve) || productService.getValueCurrency() !== 1 && product.enable_co) && product.productQuantity"
                          placement="top"
                          mdbTooltip="Add to Cart"
                          container="body"
                          (click)="addToCart(product)"
                        >
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                        <!--
                        <a
                          placement="top"
                          mdbTooltip="Remove Product"
                          container="body"
                          *ngIf="authService.isAdmin$ | async"
                          (click)="removeProduct(product.$key)"
                        >
                          <i class="fa fa-trash"></i>
                        </a>-->
                        <a
                          placement="top"
                          mdbTooltip="Edit Product"
                          container="body"
                          *ngIf="authService.isAdmin$ | async"
                          data-toggle="modal"
                          data-target="#exampleModalLong"
                          (click)="openEdit(product)"
                        >
                          <i class="fa fa-edit"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                  <!--/.Card content-->
                </div>
                <!--/.Card-->
              </div>
            </div>
          </div>
        </div>
        <div class="container" *ngIf="productList.length === 0 && !loading">
          <app-no-products-found
            [title]="messageTitle"
            [description]="messageDescription"
          ></app-no-products-found>
        </div>
        <!-- Pagination -->
        <div class="mt-3 center">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!edit" class="modal-title" id="exampleModalLongTitle">
          Agregar Producto
        </h5>
        <h5 *ngIf="edit" class="modal-title" id="exampleModalLongTitle">
          Editar Producto
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" #addProductForm="ngForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productName">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="productName"
                name="productName"
                [(ngModel)]="product.productName"
                placeholder=""
                value=""
                required
              />
              <div *ngIf="!product.productName" [ngClass]="'error'">
                Nombre es requerido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productCategory">Categoria</label>
              <select
                class="custom-select d-block w-100"
                id="productCategory"
                required
                [(ngModel)]="product.productCategory"
                name="productCategory"
              >
                <option value="">Escoge...</option>
                <option>Frenos</option>
                <option>Cauchos</option>
                <option>Tripas</option>
                <option>Parches</option>
                <option>Cadenas</option>
                <option>Discos</option>
                <option>Cascos</option>
              </select>
              <div *ngIf="!product.productCategory" [ngClass]="'error'">
                Categoria es requerida.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="productDescription"
              >Descripcion
              <span class="text-muted">(Optional)</span>
            </label>
            <angular-editor
            id="productDescription"
            placeholder=""
            name="productDescription" [(ngModel)]="product.productDescription">
            </angular-editor>
            <div *ngIf="!product.productDescription" [ngClass]="'error'">
              Descripcion es requerido.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productPrice">Precio</label>
              <input
                type="number"
                name="productPrice"
                class="form-control"
                [(ngModel)]="product.productPrice"
                placeholder="Product Price"
                id="productPrice"
                value=""
                required
              />
              <div *ngIf="!product.productPrice" [ngClass]="'error'">
                Precio es requerido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productQuantity">Stock</label>
              <input
                type="number"
                class="form-control"
                id="productQuantity"
                name="productQuantity"
                [(ngModel)]="product.productQuantity"
                placeholder="Product Quantity"
                value=""
                required
              />
              <div *ngIf="!product.productQuantity" [ngClass]="'error'">
                Stock es requerido.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="brand">Proveedor</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              [(ngModel)]="product.brand"
              name="brand"
              placeholder="Product Seller"
              required
            />
            <div *ngIf="!product.brand" [ngClass]="'error'">
              Proveedor es requerido.
            </div>
          </div>
          <div class="mb-3">
            <label for="SKU">SKU</label>
            <input
              type="text"
              class="form-control"
              id="productSKU"
              [(ngModel)]="product.productSKU"
              name="productSKU"
              placeholder=""
              required
            />
            <div *ngIf="!product.productSKU" [ngClass]="'error'">
              SKU es requerido.
            </div>
          </div>

          <div class="mb-3">
              <label for="images">Imagenes</label>
              <div *ngIf="loadingImage" class="centerloading">
                  <img  src="./assets/img/loader.svg" width="64" height="64" />
                </div>
            <ngx-dropzone
            *ngIf="!loadingImage"
              class="custom-dropzone"
              [accept]="'image/*'"
              (change)="onSelect($event)"
            >

              <ngx-dropzone-label >
                <div>
                  <h2>Agregue Imagenes</h2>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files; let i = index"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f, i)"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>

          <div class="mb-3">
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                id="enable_co"
                name="enable_co"
                [(ngModel)]="product.enable_co"
              />
              <label class="custom-control-label" for="enable_co">Activo Colombia</label>
            </div>
          </div>
          <div class="mb-3">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="enable_ve"
                  name="enable_ve"
                  [(ngModel)]="product.enable_ve"
                />
                <label class="custom-control-label" for="enable_ve">Activo Venezuela</label>
              </div>
            </div>
          <div class="mb-3">
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                id="bestProducts"
                name="bestProducts"
                [(ngModel)]="product.bestProducts"
              />
              <label class="custom-control-label" for="bestProducts"
                >Mejores</label
              >
            </div>
          </div>

          <button
            *ngIf="!edit"
            (click)="createProduct(addProductForm)"
            [disabled]="
              !product.brand ||
              !product.productQuantity ||
              !product.productPrice ||
              !product.productDescription ||
              !product.productCategory ||
              !product.productName ||
              !product.productSKU
            "
            class="btn btn-primary btn-lg btn-block"
            type="submit"
          >
            Agregar Producto
          </button>
          <button
            *ngIf="edit"
            (click)="editProduct(product)"
            [disabled]="
              !product.brand ||
              !product.productQuantity ||
              !product.productPrice ||
              !product.productDescription ||
              !product.productCategory ||
              !product.productName ||
              !product.productSKU ||
              !images.length || 
              loadingImage
            "
            class="btn btn-primary btn-lg btn-block"
            type="submit"
          >
            Editar Producto
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
