<br />
<div class="suelo container">
  <div>
    <p class="title">
            ¿Cómo compro en yakbrake.com?
    </p>
    <div class="subTitle">
            1.- Ingrese y regístrese en yakbrake.com
            <br />
            2.- Busque lo que necesita Navegando por las categorías o utilizando la barra de búsqueda.
            <br />
            3.- Selecciones su producto y agréguelo al carrito de compras.
            <br />
            4.- Haga clic en “pagar”, ingrese sus datos y realice el pago.
      <br />
      <br />
    </div>
  </div>

  <div>
    <p class="title">
            ¿Es seguro comprar en yakbrake.com?
    </p>
    <div class="subTitle">
            En yakbrake.com se utiliza el certificado de seguridad HTTPS que protege toda su información al 
            momento de realizar sus compras. Teniendo además la seguridad de las plataformas bancarias que 
            nos respaldan al momento de efectuar sus pagos.
      <br />
      <br />
    </div>
  </div>
  <div>
    <p class="title">
            ¿Cuáles opciones tengo para pagar en la página?
    </p>
    <div class="subTitle">
            Durante su proceso de compra en yakbrake.com, 
            podrá cancelar de varias maneras distintas. 
            <br />
            Métodos de pagos:
            <br />
            1- Bs Transferencia Banesco
            <br />
            2- Bs Pago movil
            <br />
            3- $ Zelle
            <br />
            4- $ Paypal
            <br />
            5- $ Bitcoins
            <br />
            6- $ Mercantil Panamá
            <br />
            7- $ Bancolombia
            <br />
            La plataforma cuenta con tarjetas de crédito internacionales, 
            transferencia electrónica en bolívares y transferencia electrónica en divisa.
      <br />
      <br />
    </div>
  </div>
  <div>
    <p class="title">
    ¿Cuál es el costo de envío para las compras que realice en tienda?
    </p>
    <div class="subTitle">
            El costo del envío varía según el peso y el volumen de los artículos, 
            Durante su proceso de compra el envio esta incluido en el costo del producto. 
            Usted cuenta también con la opción de cliente retira.
      <br />
      <br />
    </div>
  </div>

  <div>
    <p class="title">
            ¿Puedo devolver cualquier producto u orden de compra realizada en Epaenlinea.com?
    </p>
    <div class="subTitle">
            Una compra realizada en yakbrake.com puede ser devuelta si el cliente así lo considera necesario, con excepción de productos que no esten en buenas condiciones, los cuales no tienen devolución.
            <br />
            <br />
        </div>
  </div>

  <div>
        <p class="title">
        ¿Cómo solicito la devolución de un producto o una orden de compra?
        </p>
        <div class="subTitle">
        Si el cliente retira el producto en tienda y decide devolverlo por algún motivo, 
        puede dirigirse al módulo de servicio al cliente para que le realicen la devolución respectiva. 
        Si su compra fue entregada a través del servicio de delivery a domicilio, 
        la devolución debe realizarse de manera inmediata con el transporte que le realizó el despacho.
        <br />
      <br />
        </div>
      </div>

      <div>
            <p class="title">
        ¿Cómo recibo el reembolso de un producto o de una orden de devolución?
            </p>
            <div class="subTitle">
                    Si el cliente desea un reembolso por devolución de artículos, este podrá hacerse en la misma moneda en la cual se realizo la compra.
                    <br />
                    <br />
                </div>
          </div>
          <div>
                <p class="title">
        ¿Qué condiciones debe cumplir el producto a cambiar o devolver?
        </p>
        <div class="subTitle">
                Para devolver o cambiar un producto, es necesario presentar 
                la factura de la venta, que el lapso transcurrido desde la 
                fecha de la venta sea menor o igual a 15 dias y que el 
                producto esté en su empaque original sellado en buenas 
                condiciones con los accesorios completos e intactos.
                <br />
      <br />
        </div>
        </div>
        <div>
                <p class="title">
                        Si no estoy conforme con el producto despachado, ¿qué debo hacer?
                </p>
                <div class="subTitle">
                        Si tiene disconformidad con algún producto que haya sido despachado, 
                        puede contactar a los asesores encargados en la pestaña contactanos.
                </div>
              </div>
</div>

